# build artifcats
dist
build
target/
*.class
dependency-reduced-pom.xml

# IDE configuration files
.classpath
.project
.settings

# OS specific folder data files
.DS_Store
.directory

# logs
hs_err_pid*
*.log

# misc
doc/javadoc
*~

*.releaseBackup
*.versionsBackup
