
# build artifcats
target/
*.class

# IDE configuration files
.classpath
.project
.settings
.idea/
**/.idea/
**/bin/

# OS specific folder data files
.DS_Store
.directory

# logs
hs_err_pid*
*.log

# Also ignoring some sample data file as they should be downloaded from https://download.jzy3d.org/objfiles/
*.obj
*.mat

# misc
doc/javadoc
*~/

# Maven temporary files
*.releaseBackup
*.versionsBackup
release.properties
