dist
build
doc/javadoc
target
.settings
.DS_Store
.classpath
.project
*.class
*.log
*~/
*~

*.obj


*/.classpath
*/.project
*/.settings
*/.DS_Store

jzy3d-api/data/objfiles/dragon.obj

*.releaseBackup
*.versionsBackup
